<div>
  <div>
    <h1>Users</h1>
  </div>
  <table class="table">
    <thead>
      <tr><th>image</th><th>name</th><th></th></tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <th>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100) %><br>
          <% end %>
        </th>
        <th><%= user.name %></th>
        <th><%= link_to "show", @user %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>